body {
    background-color: #999;
    color: black;
}

#top, #bottom {
    font-size: 22pt;
}

#top.active, #bottom.active {
    color: #dedede;
}

#top.inactive, #bottom.inactive {
    /* Keep same as body background-color */
    color: #999;
}

#top_container, #bottom_container, #center {
    font-size: 16pt;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#center {
    top: 50%;
    transform: translate(-50%, -50%);
}

#bottom_container {
    bottom: 0;
}

#center.good {
    color: #050;
}

#center.bad {
    font-size: 60pt;
    font-weight: bolder;
    color: #f00;
}

#download {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16pt;
    color: #777;
    text-decoration: none;
}

#download:hover {
    color: #333;
}
