#top, #bottom, #center {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#top, #bottom {
    display: none;
}

#center {
    top: 50%;
    transform: translate(-50%, -50%);
}

#bottom {
    bottom: 0;
}

.good {
    color: #0c0;
}

.bad {
    color: #c00;
}
